{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}购物车{% endblock %}

{% block navhead %}购物车{% endblock %}

{% block content %}
    <div id="modal_cart" class="modal">
        <div class="modal-content">
            <h4>信息</h4>
            <p id="modalmessage"></p>
        </div>
        <div class="modal-footer">
            <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat" id="modal_confirm">好的</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for item in item_list %}
                <div class="col s12 m6">
                    <div class="card indigo  lighten-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{ item.name }}</span>
                            <p>{{ item.detail }}</p>
                        </div>
                        <div class="card-action">
                            <a href="#">结算</a>
                            <a href="#" data-value="{{ item.id }}" class="remove">移除购物车</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}


{% block script %}

    <script>
        function showModal(message) {
            $("#modalmessage")[0].innerHTML = message;
            $("#modal_cart").modal('open');
        }
    </script>
    <script>
        $(document).ready(function () {
            $(".remove").click(function (e) {
                let item_id = e.currentTarget.dataset.value;
                let options = {
                    url: '{% url 'remove-cart' %}',
                    type: 'post',
                    async: false,
                    data: {
                        'item_id': item_id,
                    },
                    success: function (data) {
                        if (data.result) {
                            showModal("移除成功");
                        }
                        else {
                            showModal(data.message);
                        }
                    },
                    error: function () {
                        showModal("服务器开小差啦");
                    }
                };
                $.ajax(options);
            });
           $("#modal_confirm").click(function(){
               location.reload();
           })
        })
    </script>


{% endblock %}