{% extends "base.html" %}
{% load staticfiles %}

{% block title %}登录{% endblock %}
{% block navhead %}登录{% endblock %}


{% block content %}

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>信息</h4>
            <p id="modalmessage"></p>
        </div>
        <div class="modal-footer">
            <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">好的</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static "imgs/71b2cbb3ly1fdtm0prm08j21kw2e0ngu.jpg" %}"
                             style="max-width: 400px;">
                    </div>
                    <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">只有我看得到der~<i
                        class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">怎样做的？<i
                            class="material-icons right">close</i></span>
                        <p>你的密码信息将被与验证码混淆后，使用RSA加密传输</p>
                    </div>
                </div>
            </div>

            <form class="col m6 s12">
                {% csrf_token %}
                <div class="input-field m6">
                    <input id="username" type="text" class="validate" autocomplete="off">
                    <label for="username">Username</label>
                </div>
                <div class="input-field m6">
                    <input id="password" type="password" class="validate" autocomplete="off">
                    <label for="password">Password</label>
                </div>

                <div class="input-field m6">
                    <label for="verify">验证码</label>
                    <input id="verify" type="text" class="validate">
                </div>

                <div class="row">
                    <div class="col m6">
                        <a class="waves-effect waves-light btn-large" id="submit">提交</a>
                    </div>

                    <div class="col m3">
                        <img src="" id="verify-img">
                    </div>
                </div>

            </form>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/encrypt.js' %}"></script>

    <script>
        function showModal(message) {
            $("#modalmessage")[0].innerHTML = message;
            $("#modal1").modal('open');
        }
    </script>
    <script>
        /*获得验证码和公钥*/
        let verify_id = '';
        let verify_img_base64 = '';
        let public_key = "";
        let encrypt = new JSEncrypt();
        $(document).ready(function () {
            $('.modal').modal();

            let options = {
                url: '{% url 'api-get-code' %}',
                success: function (data) {
                    verify_id = data['verify_id'];
                    verify_img_base64 = data['img_base64'];
                    let publicOptions = {
                        url: '{% url 'get_public' %}',
                        async: false,
                        success: function (data) {
                            public_key = data['public'];
                            encrypt.setPublicKey(public_key);
                        },
                        error: function () {
                            showModal("获取公钥失败！");
                        }
                    };
                    $.ajax(publicOptions);
                },
                async: false,
                error: function () {
                    showModal("获取验证码失败！");
                }
            };
            $.ajax(options);
            $("#verify-img").attr('src', "data:image/jpg;base64," + verify_img_base64);


        });
        /*先验证，后提交*/

        $("#submit").click(function (e) {
            e.preventDefault();
            let verify_code = $("#verify").val();

            let authOptions = {
                async: false,
                url: '{% url 'api-auth-verify' %}',
                type: "POST",
                data: {
                    'id': verify_id,
                    'code': verify_code
                },
                success: function (data) {
                    console.log(data);
                    if (data.result === 1) {
                        let unencryptData = {
                            'username': $("#username").val() + verify_code,
                            'password': $("#password").val(),
                            'id': verify_id,
                        };
                        let encryptData = encrypt.encrypt(JSON.stringify(unencryptData));
                        let postOptions = {
                            async: false,
                            url: '{% url 'api-login' %}',
                            data: {
                                'info': encryptData
                            },
                            type: "POST",
                            success: function () {
                                window.location.href = '{% url 'index' %}';
                            },
                            error: function () {
                                showModal("登录失败");
                            }
                        };
                        $.ajax(postOptions);

                    }
                    else {
                        showModal("验证失败！请刷新重试");
                    }
                },
                error: function () {
                    showModal("服务器开小差了~请稍后再试");
                }


            };
            $.ajax(authOptions);
        })


    </script>
{% endblock %}