{% extends "base.html" %}
{% load staticfiles %}

{% block title %}登录{% endblock %}


{% block navhead %}登录{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static "imgs/71b2cbb3ly1fdtm0prm08j21kw2e0ngu.jpg" %}"
                             style="max-width: 400px;">
                    </div>
                    <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">只有我看得到der~<i
                        class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">怎样做的？<i
                            class="material-icons right">close</i></span>
                        <p>你的密码信息将被与验证码混淆后，使用RSA加密传输</p>
                    </div>
                </div>
            </div>

            <form class="col m6 s12">
                <div class="input-field m6">
                    <input id="username" type="text" class="validate" autocomplete="off">
                    <label for="username">Username</label>
                </div>
                <div class="input-field m6">
                    <input id="password" type="password" class="validate" autocomplete="off">
                    <label for="password">Password</label>
                </div>
            </form>
        </div>


    </div>
{% endblock %}