{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}订单列表{% endblock %}


{% block navhead %}订单列表{% endblock %}



{% block content %}

    <div class="container">
        <div class="row">
            {% for order in order_list %}
                <div class="col s12">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">订单编号：{{ order.id }}</span>
                            <p>成交时间：{{ order.datetime }}</p>
                            <p>----------订单内容----------</p>
                            {% for item in order.order_item.all %}
                                <p>{{ item.item.name }}</p>
                            {% endfor %}
                            <p>----------------------------------</p>
                            <p>总价：{{ order.price }}</p>
                            <h4>订单状态：
                                {% if order.state == 0 %}
                                    未支付
                                {% elif order.state == 1 %}
                                    已支付
                                {% else %}
                                    已确认
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}